*{
    margin: 0;
    padding: 0;
}
.top {
    border-bottom: #000000 solid 2px;
    height: 70px;
    overflow: hidden;
}
.leftArea {
    /*margin-left: 2%;*/
    width: 15%;
    border-right: #000000 solid 2px;
    float: left;
}
.leftArea div {
    margin: 20px;
    border: #000000 solid 1px;
}
.rightArea {
    width: 600px;
    padding-right: 100px;
    background: url("../img/1212.jpg") left repeat-x;
    height: 444px;
    float: left;
}













