
/*注册页面样式表*/

* {
    margin: 0;
    padding: 0;
}
/*主体样式表*/
.content {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
/*banner部分*/
.banner img {
    width: 60%;
}
/*欢迎语部分*/
.welcome {
    margin: 20px;
}
.welcome img {
    width: 20%;
}
/*title部分*/
.title img {
    width: 60%;
}
/*表单部分*/
.form {
    margin: 20px;
    font-size: 26px;
}
.form div {
    padding-right: 35%;
    text-align: right;
}
.username span , .password span, .age span,.idCard span,.sex span,.tell span,.city span,.address span{
    height: 26px;
    line-height: 26px;
}
.username input , .password input,.age input,.idCard input,.sex input,.tell input ,.city input,.address input{
    height: 26px;
}
.btn {
    padding: 0 400px;
}
.btn div {
    margin: 10px 0;
}
.btn button {
    height: 40px;
    width: 60px;
    font-size: 20px;
    position: relative;
    left: 140px;
    display: inline-block;
}
.signup {
    height: 50px;
    font-size: 16px;
}




