
/*我要存款页面style*/

*{
    margin: 0;
    padding: 0;
}
/*头部*/
.top {
    border-bottom: #000000 solid 2px;
    height: 70px;
    overflow: hidden;
}
/*左边部分*/
.leftArea {
    /*margin-left: 2%;*/
    width: 15%;
    border-right: #000000 solid 2px;
    float: left;
}
.leftArea div {
    margin: 20px;
    width: 160px;
    border: #000000 solid 1px;
}
/*右边部分*/
.rightArea {
    padding-right: 100px;
    float: left;
}
/*表单样式表*/
table {
    margin: 100px;
    border: #000000 solid 1px;
}
th {
    width: 100px;
    height: 30px;
    border: #000000 solid 1px;
}
.time {
    width: 200px;
}









