
/*我要存款页面style*/

*{
    margin: 0;
    padding: 0;
}
/*头部样式*/
.top {
    border-bottom: #000000 solid 2px;
    height: 70px;
    overflow: hidden;
}
/*左边部分样式*/
.leftArea {
    /*margin-left: 2%;*/
    width: 15%;
    border-right: #000000 solid 2px;
    float: left;
}
.leftArea div {
    margin: 20px;
    width: 160px;
    border: #000000 solid 1px;
}

/*右部样式*/
.rightArea {
    padding-right: 100px;
    float: left;
}
.rightArea_item {
    margin: 100px;
    text-align: center;
}
.rightArea_item .title {
    font-size: 20px;
    font-weight: bold;
}
.rightArea_item .text {
    padding-top: 20px;
    text-align: left;
}
.rightArea_item .btn {
    padding-top: 40px;
}

