
/*我要存款页面style*/

*{
    margin: 0;
    padding: 0;
}
/*头部*/
.top {
    border-bottom: #000000 solid 2px;
    height: 70px;
    overflow: hidden;
}
/*左边部分*/
.leftArea {
    /*margin-left: 2%;*/
    width: 15%;
    border-right: #000000 solid 2px;
    float: left;
}
.leftArea div {
    margin: 20px;
    width: 160px;
    border: #000000 solid 1px;
}
/*右边部分*/
.rightArea {
    width: 600px;
    padding-right: 100px;
    /*background: url("../img/1212.jpg") left repeat-x;*/
    height: 444px;
    float: left;
}
/*右边中间部分样式表*/
.saveMoney {
    width: 305px;
    margin: 100px auto;
    float: right;
}
.saveMoney input {
    height: 20px;
    width: 200px;
}
.btn {
    float: right;
}
.btn div {
    padding-top: 20px ;
}
.btn button{
    width: 50px;
    height: 30px;
    font-size: 16px;
}












